services:
  oasis:
    build: .
    image: docker.io/zkfr/oasis:latest
    platform: linux/amd64
    environment:
      - PRIVATE_KEY=${PRIVATE_KEY}
      - CONTRACT_ADDRESS_CELO=${CONTRACT_ADDRESS_CELO}
      - AVIATION_EDGE_API_KEY=${AVIATION_EDGE_API_KEY}
      - CELO_RPC_URL=${CELO_RPC_URL}
    ports:
      - "3000:3000"
    volumes:
      - eliza-storage:/root/.eliza

  rofl-8004:
    image: ghcr.io/oasisprotocol/rofl-8004@sha256:f57373103814a0ca4c0a03608284451221b026e695b0b8ce9ca3d4153819a349
    platform: linux/amd64
    environment:
      - RPC_URL=${RPC_URL}
      - PINATA_JWT=${PINATA_JWT}
    volumes:
      - /run/rofl-appd.sock:/run/rofl-appd.sock

volumes:
  eliza-storage:
